<div id="<%= dom_id profile %>" class="M_profileInf">
  <p><%= profile.avatar %></p>

  <h1><%= profile.nickname %></h1>

  <div class="M_profileTags">
    <p><%= profile.city %></p>
    <p><%=  Fandom.all.where(id: profile.fandom_id).first.name %></p>
  </div>
  
  <p><%= profile.bio %></p>

  <div class="W_buttons">
    <% if current_user.admin? || current_user.id == @profile.user_id %>
      <%= link_to "редактировать", edit_profile_path(profile) %>
      <%= button_to "удалить", @profile, method: :delete %>
    <% end %>
  </div>
</div>
