<p style="color: green"><%= notice %></p>

<%= render @profile %>

<div>
  <% if current_user.admin? %>
    <%= link_to "Edit this profile", edit_profile_path(@profile) %> |
  <%= button_to "Destroy this profile", @profile, method: :delete %>
  <% end %>

  <%= link_to "Back to profiles", profiles_path %>
</div>
