<body class="signUp" style="width: 100%;">
  <div class="M_hello">
    <h2>привет!</h2>
    <p>зарегестрируйстя, чтобы публиковать маршруты и участвовать в обсуждениях</p>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "W_inputs"}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="A_input">
      <p>почта</p>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "введите почту" %>
    </div>
    <div class="A_input">
      <p>пароль</p>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "введите пароль" %>
    </div>

    <div class="A_input">
      <p>подтверждение пароля</p>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "введите пароль" %>
    </div>

    <div class="A_commit">
      <%= f.submit "присоединиться" %>
    </div>
  <%= render "devise/shared/links" %>
  <% end %>
</body>