<%= form_for(comment, url: url, data: { turbo_stream: true }, html: { class: "W_commentInputs" }) do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="A_commentInput">
    <p>комментарий</p>
    <%= form.text_area :body %>
  </div>

  <% if defined? parent_comment_id %>
    <%= form.hidden_field :comment_id, value: parent_comment_id %>
  <% end %>

  <div class="A_commit">
    <%= form.submit %>
  </div>
<% end %>