<body style="width: 100%;display: flex;flex-direction: column;min-height: 100vh;">
    <%= turbo_stream.replace "global_search_results" do %>
        <div class="global-search-results">
            <% if @query.present? %>
            <h3>Результаты поиска для: <%= @query %></h3>
            <% if @trails.any? %>
                <h4>Маршруты</h4>
                <ul>
                <% @trails.each do |trail| %>
                    <li><%= link_to trail.title, trail_path(trail) %></li>
                <% end %>
                </ul>
            <% end %>
            <% if @profiles.any? %>
                <h4>Профили</h4>
                <ul>
                <% @profiles.each do |profile| %>
                    <li><%= link_to profile.nickname, profile_path(profile) %></li>
                <% end %>
                </ul>
            <% end %>
            <% if @fandoms.any? %>
                <h4>Фандомы</h4>
                <ul>
                <% @fandoms.each do |fandom| %>
                    <li><%= link_to fandom.name, fandom_path(fandom) %></li>
                <% end %>
                </ul>
            <% end %>
            <% if @trails.empty? && @profiles.empty? && @fandoms.empty? %>
                <p>Ничего не найдено.</p>
            <% end %>
            <% end %>
        </div>
        <% end %>
</body>