<%= turbo_stream.replace "global_search_results" do %>
  <div class="global-search-results">
    <% if @query.present? %>
      <h3>Результаты поиска для: <%= @query %></h3>
      <% if @trails.any? %>
          <div class='M_briks'>
              <% @trails.each do |trail| %>
              <%= render 'trails/trailProfile', trail: trail %>
              <% end %>
          </div>
      <% end %>
      <% if @profiles.any? %>
        <h4>Профили</h4>
        <ul>
          <% @profiles.each do |profile| %>
            <li><%= link_to profile.nickname, profile_path(profile) %></li>
          <% end %>
        </ul>
      <% end %>
      <% if @fandoms.any? %>
        <h4>Фандомы</h4>
        <ul>
          <% @fandoms.each do |fandom| %>
            <li><%= link_to fandom.name, fandom_path(fandom) %></li>
          <% end %>
        </ul>
      <% end %>
      <% if @trails.empty? && @profiles.empty? && @fandoms.empty? %>
        <p>Ничего не найдено.</p>
      <% end %>
    <% end %>
  </div>
<% end %>