<body class="newPassword" style="width: 100%;">

  <div class="M_hello">
    <h2>забыли пароль</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "W_inputs" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="A_input">
      <p>почта</p>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "введите почту" %>
    </div>

    <div class="A_commit">
      <%= f.submit "отправить подтверждение" %>
    </div>
    
    <%= render "devise/shared/links" %>
  <% end %>
</body>
 