<body id='about'>
    <div class='firstBlock'>
        <div class='images'>
        <%= image_tag '/autoupload/about01.jpg', class: 'photo01' %> 
        <%= image_tag '/autoupload/about02.jpg', class: 'photo02' %> 
        <%= image_tag '/autoupload/about03.jpg', class: 'photo03' %> 
        <%= image_tag '/autoupload/about04.jpg', class: 'photo04' %> 
        <%= image_tag '/autoupload/about05.jpg', class: 'photo05' %> 
        </div>   

        <h1>rutas</h1>
        <p>медиа-сервис о кастомных маршрутах по фандомам</p>
    </div>

    <div class='secondBlock'>
        <div class='titleBlock'>
            <h2>Дарим приключения</h2>
            <p>На нашем сайте ты можешь выбрать свой любимый фандом и отправиться исследовать мир по уникальным маршрутам</p>
        </div>

        <%= image_tag '/autoupload/mockup02.png', class: 'photo1' %> 
    </div>

    <div class='thirdBlock'>
        <div class='images01'>
        <%= image_tag '/autoupload/about06.jpg', class: 'photo2' %> 
        <%= image_tag '/autoupload/card02.png', class: 'photo3' %> 
        <%= image_tag '/autoupload/card03.png', class: 'photo4' %> 
        </div>

        <div class='titleBlock'>
            <h2>Помогаем найти компаньонов для путешествий</h2>
            <p>В нашем сообществе ты можешь найти единомышленников и разделить с ними яркие эмоции от прогулок</p>
        </div>
    </div>

    <div class='fourthBlock'>
        <div class='images02'>
        <%= image_tag '/autoupload/about07.jpg', class: 'photo5' %> 
        <%= image_tag '/autoupload/about08.jpg', class: 'photo6' %> 
        <%= image_tag '/autoupload/about09.jpg', class: 'photo7' %> 
        </div>

        <div class='titleBlock'>
            <h2>Вдохновляем делиться маршрутами</h2>
            <p>На нашем сайте можно выбирать места на карте, создавать уникальные маршруты по фандомам и делиться ими с другими</p>
        </div>
    </div>

    <div class='fifthBlock'>
        <div class='titleBlock'>
            <h2>Погнали вместе ходить-бродить?</h2>
            <p>Оставь здесь свой e-mail, и мы предупредим тебя о запуске нашего сервиса</p>
        </div>
    </div>

<%= render 'application/footer' %>
</body>