<body id='welcome'>

  <div class='zeroBlock'>
    <h1>rutas</h1>
  
    <div class='buttsNonClick'>
      <h3>смотри</h3>
      <h3>создавай</h3>
      <h3>гуляй</h3>
    </div>
  </div>

  <div class='fisrtBlock'>
    <div class='hiBlock'>
    <h2>Приветствуем тебя, путник!</h2>
    <p>Наконец-то ты нашел нас: мы — rutas — <br> медиа-сервис о кастомных маршрутах</p>
    </div>
  </div>

  <div class='secondBlock'>
    <div class='hiBlock'>
      <h2>Дарим приключения</h2>
      <p>У нас ты можешь выбрать свой фандом и отправиться в путешествие по уникальным маршрутам</p>
      
      <%= image_tag '/autoupload/mockup01.png', class: 'photo1' %> 
    </div>
  </div>

  <div class="thirdBlock">
    <div class='hiBlock'>
      <h2>Время создавать маршруты!</h2>
      <p>Мы предлагаем неограниченный выбор фандомов для создания твоего уникального маршрута</p>
    </div>

    <div class='fandomNames'>
      <% @allFandoms.each do |fandom| %>
        <% yellow_background_fandoms = ["Шерлок", "My Little Pony", "Ван Пис", "Игра Престолов", "Звёздный десант", "Властелин Колец", "Баскетол Куроко", "Наруто", "Клуб романтики", "Великолепный век"] %>
        <% grey_background_fandoms = ["Атлантида", "1984", "Хроники Нарнии", "DC Comics", "Marvel", "Гарри Поттер", "Однажды в сказке"] %>
        <div class="fandom-block 
          <%= 'yellow' if yellow_background_fandoms.include?(fandom[:name]) %>
          <%= 'grey' if grey_background_fandoms.include?(fandom[:name]) %>
          <%= 'white' unless yellow_background_fandoms.include?(fandom[:name]) || grey_background_fandoms.include?(fandom[:name]) %>">
          <%= fandom[:name] %>
        </div>
      <% end %>
    </div>
  </div>

  <div class='fourthBlock'>
    <div class='hiBlock'>
        <h2>Приключения ждут!</h2>
        <p>Создавай свои маршруты или проходи <br> уже готовые</p>
    </div>
    <div class='helloCard'>
        <h3>King's Cross station</h3>
        <p>Гарри Поттер</p>
    </div>
  </div>

  <div class='fifthBlock'>
    <div class='hiBlock'>
      <h2>Будем на связи?</h2>
      <p>Чтобы не заплутать без нас и узнать о запуске, оставляй свою почту! </p>
    </div>

    <div id="new_subscription">
      <%= render 'subscriptions/form' %>
    </div>
  </div>


<%= render 'application/footer' %>
</body>