 <%= form_with(model: @trail, local: true, html: { class: "W_inputs" }) do |form| %>
    <%= form.hidden_field :step, value: "points" %>

    <div class="M_hello">
        <h2>добавить точки</h2>
    </div>

    <!-- Точки маршрута -->
    <%= form.fields_for :trail_points do |point_form| %>
      <div class="trail-point">
        <span class="step-number">(#{point_form.object.index + 1})</span>
        <div class="A_input">
          <p>Фото</p>
          <%= point_form.file_field :image_url %>
        </div>

        <div class="A_input">
          <p>Название</p>
          <%= point_form.text_field :name %>
        </div>

        <div class="A_input">
          <p>Описание</p>
          <%= point_form.text_area :description, style: "height:10vw;" %>
        </div>

        <div class="A_input">
          <p>Ссылка на карту</p>
          <%= point_form.url_field :map_link %>
        </div>
      </div>
    <% end %>

    <button type="button" id="add-trail-point">Следующая точка</button>

    <div class="A_commit">
      <%= form.submit "Опубликовать" %>
    </div>
  <% end %>

  <script>
    document.getElementById('add-trail-point').addEventListener('click', function() {
      const container = document.querySelector('.W_inputs');
      const index = container.querySelectorAll('.trail-point').length;
      const newPointHTML = `
        <div class="trail-point">
          <span class="step-number">Точка ${index + 1}</span>
          <div class="A_input">
            <p>Фото</p>
            <input type="file" name="trail[trail_points_attributes][${index}][image_url]" required>
          </div>
          <div class="A_input">
            <p>Название</p>
            <input type="text" name="trail[trail_points_attributes][${index}][name]" required>
          </div>
          <div class="A_input">
            <p>Описание</p>
            <textarea name="trail[trail_points_attributes][${index}][description]" style="height: 10vw;" required></textarea>
          </div>
          <div class="A_input">
            <p>Ссылка на карту</p>
            <input type="url" name="trail[trail_points_attributes][${index}][map_link]" required>
          </div>
        </div>
      `;
      container.insertAdjacentHTML('beforeend', newPointHTML);
    });
  </script>