<%= form_with(model: trail) do |form| %>
  <% if trail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trail.errors.count, "error") %> prohibited this trail from being saved:</h2>

      <ul>
        <% trail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :fandom_id %>
    <%= form.collection_select :fandom_id, Fandom.all, :id, :name, { prompt: 'Выбрать фандом' } %>
  </div>

  <div>
    <%= form.label :trail_time, style: "display: block" %>
    <%= form.time_field :trail_time %>
  </div>

  <div>
    <%= form.label :trail_level, style: "display: block" %>
    <%= form.number_field :trail_level %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
