<div class="trail">
  <h2><%= trail.title %></h2>
  <h3><%= trail.fandom.name %></h3>
  <p><%= trail.body %></p>

  <%# if current_user.id == @trail.user_id %>
  <%# else %>
    <div class='butts'>
      <%= render partial: "like/button", locals: {likeable: trail} %>
      <%= link_to 'редактировать', edit_trail_path(trail) %>
      <%= button_to 'удалить', trail_path(trail.id), method: :delete %>
    </div>
    <%= link_to 'посмотреть', trail_path(trail) %>
  <%# end %>

</div>