<div class="O_trail">
  <% if trail.image.present? %>
    <div class="W_imageContainer">
      <%= image_tag trail.image.url, alt: trail.title %>
    </div>
  <% else %>
    <p>No image available</p>
  <% end %>

  <div class="W_trailHead">
    <h2><%= trail.title %></h2>

    <h3>Точки</h3>
    <% trail.trail_points.each_with_index do |point, index| %>
      <div class="trail-point">
        <span class="step-number">(#{index + 1})</span>
        <h4><%= point.name %></h4>
        <p><%= point.description %></p>
        <%= image_tag point.image_url %>
      </div>
    <% end %>

    <!-- Средний рейтинг маршрута -->
    <div class="average-rating">
      <span class="rating-value"><%= trail.average_rating %></span>
      <span>оценка маршрута</span>

      <!-- Звёздочки для среднего рейтинга -->
      <div class="rating-stars">
        <% (1..5).each do |star| %>
          <span class="star <%= 'filled' if star <= trail.average_rating.round %>">★</span>
        <% end %>
      </div>
    </div>

    <div class="A_diagonal_arrow_move">
      <h3><%= trail.fandom.name %></h3>
      <%= link_to trail_path(trail), class: 'A_diagonal_arrow' do %>
        <%= image_tag 'atoms/A_go_button.png', alt: 'Посмотреть маршрут'%>
      <% end %>
    </div>
  </div>

  <% if current_user != nil && (current_user.id == trail.user_id || current_user.admin?) %> 
    <div class='W_buttons'> 
      <!-- Лайк -->
      <div class="like-button">
        <%= link_to toggle_like_path(trail.id), method: :post, remote: true, class: "like-button" do %>
          <%= image_tag current_user.liked?(trail) ? 'atoms/Default.svg' : 'atoms/Selected.svg', alt: 'Лайк' %>
        <% end %>
      </div>

      <%= link_to 'редактировать', edit_admin_trail_path(trail) %> 
    </div>
  <% else %> 
    <%= link_to 'посмотреть', trail_path(trail) %> 
  <% end %>
</div>