<div id="<%= dom_id trail %>">

  <h2><%= @trail.title %></h2>
  <p><strong>Фандом:</strong> <%= @trail.fandom.name %></p>
  <p><strong>Trail time:</strong> <%= @trail.trail_time %></p>
  <p><strong>Trail level:</strong> <%= @trail.trail_level %></p>
  <p><%= @trail.body %></p>
  
</div>

