<div class='O_trails'>
    <% if can? :create, Trail %>
      
      <div class="W_titles">
        <%= link_to 'новый маршрут', new_admin_trail_path %>
        <%= link_to "мои маршруты", profile_path(current_user.profile) %>
      </div>

      <div class="W_titles">
        <%= link_to 'новый маршрут', new_admin_trail_path %>
        <% if current_user && current_user.profile %>
          <%= link_to "мои маршруты", profile_path(current_user.profile) %>
        <% end %>
      </div>
    <% end %>


    <div class="W_titles">
      <%#= link_to "Все маршруты", trails_path %>
    </div>

    <div class='M_briks'>
      <% @other_trails.each do |trail| %>
        <%= render partial: "trails/trail", locals: { trail: trail } %>
      <% end %>
    </div>

    </div>