<body class='show'>
  <p style="color: green"><%= notice %></p>

  <div class='info'>
    <h2><%= @trail.title %></h2>
    <h3><%= @trail.fandom.name %></h3>
    <p><%= @trail.body %></p>

    <br>

      <% if user_signed_in? && current_user.admin? %>
        <%= link_to "редактировать", edit_admin_trail_path(@trail) %> |
        <%#= button_to 'удалить', @trail, method: :delete %>
      <% end %>
  </div>


  <% if current_user && (current_user.admin? || current_user == @trail.user) %>
    <%= button_to 'удалить', admin_trail_path(@trail.id), method: :delete %>
  <% end %>

  <%= link_to "вернуться", fandoms_url, class: 'back' %>


  <h2>Comments</h2>

  <%= render partial: "comments/form", locals: { url: trail_comments_path(@trail), comment: Comment.new } %>

  <%= turbo_stream_from "comments" %>

  <div id="comments">
    <% @trail.comments.no_replies.each do |comment| %>
      <%= render "comments/comment", comment: comment %>
      <%# if current_user && current_user.admin?%>
        <%#= button_to 'удалить', @trail, method: :delete %>
      <%# end%>
    <% end %>
  </div>

</body>