<p style="color: green"><%= notice %></p>

<%= render @trail %>

<div>
  <%= link_to "Edit this trail", edit_trail_path(@trail) %> |
  <%= link_to "Back to trails", trails_path %>

  <%= button_to "Destroy this trail", @trail, method: :delete %>

</div>

<p>Add a comment:</p>

<%= form_for([@trail, @trail.comments.build]) do |form| %>
  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>