<%# app/views/trails/show.html.erb %>
<body class='show' style="width: 100%;">
  <p style="color: green"><%= notice %></p>

  <div class='O_info'>
    <% if @trail %>
      <div class="M_pic">
        <%= image_tag @trail.image.url, alt: @trail.title %>
      </div>
      <h2><%= @trail.title %></h2>
      <h3>
        <% if @trail.fandom %>
          <%= link_to @trail.fandom.name, fandom_path(@trail.fandom) %>
        <% end %>
      </h3>
      <p><%= @trail.body %></p>
    <% else %>
      <p>Маршрут не найден.</p>
    <% end %>
    <br>

    <div class="W_buttons">
      <% if @trail && current_user && (current_user.admin? || current_user == @trail.user) %>
        <%= link_to "редактировать", edit_trail_path(@trail) %>
        <button class="custom-delete-button" data-url="<%= admin_fandom_path(@trail) %>">Удалить</button>
      <% end %> <br>
      <%= link_to "вернуться к фандому", fandom_path(@trail.fandom), class: 'back' %>
    </div>
  </div>

  <div class="W_comments">
    <div class="O_newComent">
      <%= render partial: "comments/form", locals: { url: trail_comments_path(@trail), comment: Comment.new } %>
      <%= turbo_stream_from "comments" %>
    </div>

    <div id="O_replyComment">
      <% @trail.comments.no_replies.each do |comment| %>
        <%= render "comments/comment", comment: comment %>
      <% end %>
    </div>
  </div>
</body>