<body class='show' style="width: 100%;">
  <p style="color: green"><%= notice %></p>

  <div class='O_info'>
    <% if @trail %>
      <div class="M_pic">
        <% if @trail.trail_image.present? %>
          <%= image_tag @trail.trail_image_url, style: "width: 30vw" %>
        <% end %>
      </div>
      <h2><%= @trail.title %></h2>
      <h3>
        <% @trail.fandom_list.each do |fandom_tag| %>
          <%= link_to fandom_tag, tagged_trails_path(fandom_tag) %>
        <% end %>
      </h3>
      <p><%= @trail.body %></p>
    <% else %>
      <p>Маршрут не найден.</p>
    <% end %>
    <br>

    <div class="W_buttons">
      <% if @trail && current_user && (current_user.admin? || current_user == @trail.user) %>
        <%= link_to "редактировать", edit_admin_trail_path(@trail) %>
        <%= button_to 'удалить', admin_trail_path(@trail), method: :delete %>
      <% end %> <br>
      <%= link_to "вернуться", fandoms_url, class: 'back' %>
    </div>
  </div>

  <div class="W_comments">
    
    <div class="O_newComent">
      <%= render partial: "comments/form", locals: { url: trail_comments_path(@trail), comment: Comment.new } %>
      <%= turbo_stream_from "comments" %>
    </div>

    <div id="O_replyComment">
      <% @trail.comments.no_replies.each do |comment| %>
        <%= render "comments/comment", comment: comment %>
        <%# if current_user && current_user.admin?%>
          <%#= button_to 'удалить', @trail, method: :delete %>
        <%# end%>
      <% end %>
    </div>
  </div>

</body>