<body class='show'>
  <p style="color: green"><%= notice %></p>

  <div class='info'>
    <h2><%= @trail.title %></h2>
    <h3><%= @trail.fandom.name %></h3>
    <p><%= @trail.body %></p>

    <br>

      <% if user_signed_in? && current_user.admin? %>
        <%= link_to "редактировать", edit_admin_trail_path(@trail) %> |
        <%= button_to 'удалить', @trail, method: :delete %>
      <% end %>
  </div>


  <%= link_to "вернуться", trails_path, class: 'back' %>

</body>