<body class="fandoms" style="width: 100%;display: flex;flex-direction: column;min-height: 100vh;"> 

<div class="W_hitTrails">
  
  <h1 class="A_heading" style="margin-top:1vw;">хиты по фандомам</h1>

  <%= turbo_frame_tag "carousel" do %>
    <div class="W_carouselControls">
        <%#= button_to "‹", fandoms_path(carousel_page: @carousel_page - 1), method: :get, data: { turbo_frame: "carousel" }, class: "carousel-prev", disabled: @carousel_page == 0 %>
        <%#= "%02d" % (@carousel_page + 1) %>  <%#= "%02d" % @total_pages %>
        <%#= button_to "›", fandoms_path(carousel_page: @carousel_page + 1), method: :get, data: { turbo_frame: "carousel" }, class: "carousel-next", disabled: @carousel_page >= @total_pages - 1 %>
    </div>
    <div class="W_carouselItems">
      <% @carousel_trails.each do |trail| %>
        <%= render partial: "trails/trailProfile", locals: { trail: trail } %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="W_fandomsSections">
  <div class="W_fandomCategories">
    <% @categories.each do |cat| %>
      <%= link_to fandoms_path(category: cat), data: { turbo_frame: "fandoms_list" }, class: "M_fandomCatName #{'active' if cat == @selected_category}" do %>
        <span class="A_fandomCategoryName"><%= cat %></span>
        <span class="A_fandomCategoryCounter">(<%= Fandom.where(category: cat).count %>)</span>
      <% end %>
    <% end %>
  </div>

  <%= turbo_frame_tag "W_fandomCatShow", data: { count: 'more-than-9' } do %>
    <% @fandoms.each do |fandom| %>
      <div class="W_fandomShow" data-fandom-id="<%= fandom.id %>">
        <div class="M_fandomNameShow">
          <div class="A_fandomName">
            <% if user_signed_in? && current_user.admin? %>
              <%= link_to fandom.name, fandom_path(fandom), class: "A_fandomName" %>
            <% elsif user_signed_in? %>
              <%= link_to fandom.name, fandom_path(fandom), class: "A_fandomName" %>
            <% else %>
              <%= fandom.name %>
            <% end %>
          </div>

          <div class="A_trailCounter">
            <span class="fandom-trail-count">( <%= fandom.trails.count %> )</span>
          </div>
        </div>
        <!-- Place W_fandomTrailsShow immediately after M_fandomNameShow -->
        <div class="W_fandomTrailsShow" data-fandom-id="<%= fandom.id %>">
          <div class="M_trailColumns">
            <% fandom.trails.each do |trail| %>
              <div class="A_trailNameShow">
                <%= link_to trail.title, trail_path(trail) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <%#= link_to "Новый фандом", new_admin_fandom_path %>
</div>

</body>