<body class="fandoms"> 

  <div class="fanfan">
      <div class='trails'>
        <h1><% if can? :create, Trail %>
            <%= link_to 'новый маршрут', new_admin_trail_path %>
          <% end %>
        </h1>

        <h1><%= link_to "Мои маршруты", trails_path %></h1>

        <div class='briks'>
          <% @user_trails.each do |trail| %>
            <%= render partial: "trail", locals: { trail: trail } %>
          <% end %>
        </div>

        <h1><%= link_to "Все маршруты", trails_path %></h1>

        <div class='briks'>
          <% @other_trails.each do |trail| %>
            <%= render partial: "trail", locals: { trail: trail } %>
          <% end %>
        </div>

      </div>

      <div class="fandoms">
          <% @fandoms.each do |fandom| %>
            <%= render partial: "fandom", locals: { fandom: fandom } %>
          <% end %>
        <%= link_to "новый фандом", new_admin_fandom_path %>
      </div>
  </div>

</body>