<p style="color: green"><%= notice %></p>

  <div class='info'>
    <h2><%= @fandom.name %></h2>
    <p><%= @fandom.description %></p>

    <br>

      <% if user_signed_in? && current_user.admin? %>
        <%= link_to "редактировать", edit_admin_fandom_path(@fandom) %> 
        <%= button_to "удалить", admin_fandom_path(@fandom.id), method: :delete %>    
      <% end %>
  </div>

  <%= link_to "Back to fandoms", fandoms_path %>

</div>