<body id='welcome'>

  <div class='W_welcome'>
      <h2>фандомщик и путешественник</h2>
      <h3>куда отправимся сегодня?</h3>
  </div>

  <div class="W_recs">
      <div class="W_textTitles">
          <h1>рекомендуем</h1>
      </div>
      <div>
          <div class="blures">
              <div class="blur1">
                  <%= image_tag '/assets/blur1.jpg', class: 'blur' %>
                  <div class="inf">
                    <h1>Путь через коноху</h1>
                    <div class="W_tags">
                        <h3>химки</h3>
                        <h3>наруто</h3>
                    </div>
                  </div>
              </div>
              <div class="blur2">
                  <%= image_tag '/assets/blur2.jpg', class: 'blur' %>
                  <div class="inf">
                    <h1>волшебный город: по следам Гарри поттера</h1>
                    <div class="W_tags">
                      <h3>москва</h3>
                      <h3>гарри поттер</h3>
                  </div>
                  </div>
              </div>
              <div class="blur3">
                  <%= image_tag '/assets/blur3.jpg', class: 'blur' %>
                  <div class="inf">
                    <h1>следуй за ФРОДО</h1>
                    <div class="W_tags">
                        <h3>тула</h3>
                        <h3>властелин колец</h3>
                    </div>
                  </div>
              </div>
              <div class="blur4">
                  <%= image_tag '/assets/blur4.jpg', class: 'blur' %>
                  <div class="inf">
                    <h1>маршрут для джедая: звёздный путь </h1>
                    <div class="W_tags">
                        <h3>Санкт-Петербург</h3>
                        <h3>звёздные войны колец</h3>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="W_recs">
      <div class="W_textTitles">
          <h1>сейчас проходят</h1>
      </div>
      <div>
          <div class="blures">
              <div class="blur5">
                <%= image_tag '/assets/blur5.jpg', class: 'blurr' %>
                <div class="inf">
                  <h1>новые территории: по следам сатору годзё </h1>
                  <div class="W_tags">
                      <h3>токио</h3>
                      <h3>магическая битва</h3>
                  </div>
                </div>
              </div>
              <div class="blur6">
                <%= image_tag '/assets/blur6.jpg', class: 'blurr' %>
                <div class="inf">
                  <h1>в гостях у мортиши</h1>
                  <div class="W_tags">
                    <h3>ижевск</h3>
                    <h3>семейка аддамс</h3>
                </div>
                </div>
              </div>
          </div>
      </div>
  </div>

  <div class="W_favFandoms">
    <div class="W_textTitles">
        <h1>фандомы для тебя</h1>
    </div>
    <div style="display: flex;">
        <div class="W_fandomAbout">
            <div class="fandom">
                <p>(08)</p>
                <h3>властелин колец</h3>
            </div>
            <div class="fandom">
                <p>(12)</p>
                <h3>гарри поттер</h3>
            </div>
            <div class="fandom">
                <p>(04)</p>
                <h3>игра престолов</h3>
            </div>
            <div class="fandom">
                <p>(02)</p>
                <h3>дюна</h3>
            </div>
            <div class="fandom">
                <p>(14)</p>
                <h3>звёздные войны</h3>
            </div>
            <div class="fandom">
                <p>(06)</p>
                <h3>гравити фолз</h3>
            </div>
            <div class="fandom">
                <p>(04)</p>
                <h3>магическая битва</h3>
            </div>
        </div>
        <%= image_tag '/assets/gameOgThrones.png', class: 'gameOgThrones' %>
    </div>
  </div>

  <div class="W_recsYoda">
      <div class="W_textTitles">
          <h1>йода-маршруты</h1>
      </div>
      <div>
          <div class="backYoda"></div>
          <div class="blures">
              <div class="blur1">
                  <%= image_tag '/assets/blur1.jpg', class: 'blur' %>
                  <div class="inf">
                    <h1>йода покажет</h1>
                    <div class="W_tags">
                        <h3>лобня</h3>
                        <h3>звёздные войны</h3>
                    </div>
                  </div>
              </div>
              <div class="blur2">
                  <%= image_tag '/assets/blur2.jpg', class: 'blur' %>
                  <div class="inf">
                    <h1>маршрут по запросу бейби-йоды </h1>
                    <div class="W_tags">
                        <h3>Санкт-Петербург</h3>
                        <h3>звёздные войны</h3>
                    </div>
                  </div>
              </div>
              <div class="blur3">
                  <%= image_tag '/assets/blur3.jpg', class: 'blur' %>
                  <div class="inf">
                    <h1>мудрейшая тропа</h1>
                    <div class="W_tags">
                        <h3>омск</h3>
                        <h3>звёздные войны</h3>
                    </div>
                  </div>
              </div>
              <div class="blur4">
                  <%= image_tag '/assets/blur4.jpg', class: 'blur' %>
                  <div class="inf">
                    <h1>мастер-йода наставил на этот путь</h1>
                    <div class="W_tags">
                        <h3>краснознаменск</h3>
                        <h3>звёздные войны</h3>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="W_mailer">
    <div class="W_textTitles">
        <h1>погнали вместе ходить-бродить??</h1>
        <p>Оставь здесь свой e-mail, и&nbsp;мы предупредим тебя о&nbsp;запуске rutas</p>
    </div>

    <div id="new_subscription">
        <%= render 'subscriptions/form' %>
    </div>

    <div><%= image_tag '/assets/byeBlocks.png', class: 'byeBlocks', style: 'width: 100%;'%></div>
  
  </div>
</body>