<%
  if current_user && current_user.admin?
    trail_model = [:admin, trail]
  elsif can? :edit, trail
    trail_model = trail
  end
%>

<%= form_for([:admin, @trail]) do |form| %> 
  <% if trail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trail.errors.count, "error") %> prohibited this trail from being saved:</h2>

      <ul>
        <% trail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <div class="field">
    <label for="">Title</label>
  <br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <label for="">Fandom</label>
  <br>
    <%= form.collection_select :fandom_id, Fandom.all, :id, :name, prompt: 'Выбрать фандом' %>
  </div>

  <div class="field">
  <label for="">Tags</label>
  <br>
  <%= form.text_area :tag_list %>
  </div>

  <div class="field">
  <label for="">Categories</label>
  <br>
  <%= form.text_area :category_list %>
  </div>

  <div class="field">
    <label for="">Trail time</label>
  <br>
    <%= form.number_field :trail_time %>
  </div>

  <div class="field">
    <label for="">Trail level</label>
  <br>
    <%= form.number_field :trail_level %>
  </div>

  <div class="field">
    <label for="">Body</label>
  <br>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Trail' %>
  </div>
<% end %>