<%= form_with(model: @trail, url: trails_path, method: :post, data: { turbo_frame: "trail-form" }, html: { class: "trail-main-form" }) do |form| %>
  
  <div class="W_formTrail">
    <div class="M_formInput">
      <div style="display:inline-flex; gap:0.5vw;">
        <p class="A_nameForm star">*</p>
        <p class="A_nameForm">название</p>
      </div>
      <%= form.text_field :title, placeholder: "название маршрута", maxlength: 56, class: "A_inputForm" %>
    </div>
    <div class="M_formInput">
      <div style="display:inline-flex; gap:0.5vw;">
        <p class="A_nameForm star">*</p>
        <p class="A_nameForm">локация</p>
      </div>
      <%= form.text_field :city, placeholder: "город маршрута", class: "A_inputForm" %>
    </div>
    <div class="M_formInput">
      <div style="display:inline-flex; gap:0.5vw;">
        <p class="A_nameForm star">*</p>
        <p class="A_nameForm">длительность</p>
      </div>
      <div class="M_hours">
        <%= form.number_field :duration_hours, min: 0, max: 99, placeholder: "00", class: "duration-input", class: "A_inputForm hours" %> <p>ч</p>
        <%= form.number_field :duration_minutes, min: 0, max: 59, placeholder: "00", class: "duration-input", class: "A_inputForm hours" %> <p>мин</p>
      </div>
    </div>
    <div class="M_formInput">
      <div style="display:inline-flex; gap:0.5vw;">
        <p class="A_nameForm star">*</p>
        <p class="A_nameForm">сложность</p>
      </div>
      <%= form.select :difficulty, [['лёгкий', 'легкий'], ['средний', 'средний'], ['продвинутый', 'продвинутый']], {}, class: "A_inputForm select" %>
    </div>
  </div>

  <div class="W_formTrail">
    <div class="M_formInput">
      <div style="display:inline-flex; gap:0.5vw;">
        <p class="A_nameForm star">*</p>
        <p class="A_nameForm">описание</p>
      </div>
      <%= form.text_area :body, placeholder: "описание маршрута", maxlength: 170, class: "A_inputForm" %>
    </div>
    <div class="M_formInput">
      <div style="display:inline-flex; gap:0.5vw;">
        <p class="A_nameForm star">*</p>
        <p class="A_nameForm">фандом</p>
      </div>
      <%= form.collection_select :fandom_id, Fandom.all, :id, :name, prompt: 'Выбрать фандом', class: "A_inputForm" %>
    </div>
    <div class="M_formInput">
      <div style="display:inline-flex; gap:0.5vw;">
        <p class="A_nameForm star">*</p>
        <p class="A_nameForm">расстояние</p>
      </div>
      <div class="M_hours">
        <%= form.number_field :distance_km, min: 0, max: 99, placeholder: "00", class: "A_inputForm hours" %> <p>км</p>
        <%= form.number_field :distance_m, min: 0, max: 999, placeholder: "00", class: "A_inputForm hours" %> <p>м</p>
      </div>
    </div>
    <div class="M_formInput">
      <div style="display:inline-flex; gap:0.5vw;">
        <p class="A_nameForm star">*</p>
        <p class="A_nameForm">стоимость</p>
      </div>
      <%= form.number_field :price, min: 0, placeholder: "0 ₽", class: "A_inputForm cost" %>
    </div>
  </div>

  <div class="M_break">
    <p class="A_trailPointsFormHeading number">(02)</p>
    <p class="A_trailPointsFormHeading name">точки</p>
  </div>

  <div class="A_note">
    <p style="color:var(--green)">*</p>
    <p>маршрут требует <br> минимум две точки</p>
  </div>

  <%= render "admin/trails/form_points", form: form %>

<% end %>