<%
  if current_user && current_user.admin?
    trail_model = [:admin, trail]
  elsif can? :edit, trail
    trail_model = trail
  end
%>

<%= form_with(model: trail_model, url: trails_path, local: true, html: {class: "W_inputs"}) do |form| %> 
  <%# if trail.errors.any? %>
    <div style="color: red">
      <h2><%#= pluralize(trail.errors.count, "error") %> prohibited this trail from being saved:</h2>

      <ul>
        <%# trail.errors.each do |error| %>
          <li><%#= error.full_message %></li>
        <%# end %>
      </ul>
    </div>
  <%# end %>

  <div class="A_input">
    <p>название</p>
    <%= form.text_field :title %>
  </div>

  <div class="A_input">
    <p>описание</p>
    <%= form.text_area :body %> <br>
  </div>

  <div class="A_input">
    <p>картиночка</p>
    <%= form.file_field :trail_image %>
    <br>
  </div>

  <div class="A_input">
    <p>время</p>
    <%= form.number_field :duration, min: 0, placeholder: '0', class: 'time_field'  %>
    <%= form.select :duration_unit,  options_for_select([['минут', 'minutes'], ['часов', 'hours'], ['дней', 'days']]),  class: 'unit_select' %>
  </div>

  <div class="A_input">
    <p>уровень сложности</p>
    <%= form.number_field :trail_level %> <br>
  </div>

  <div class="A_input">
    <p><%= form.label :fandom_id %></p>
    <%= form.collection_select :fandom_id, Fandom.all, :id, :name, prompt: 'Выбрать фандом' %>
  </div>
  
  <div class="A_commit">
    <%= form.submit 'создать трейл' %>
  </div>

<% end %>