<body class="newTrail" style="width: 100%;">
  <%= link_to request.referer || root_path, class: "A_return form" do %>
    <%= image_tag("atoms/A_return.svg", alt: "Назад", class: "back-icon") %>
    <span class="back-text">назад</span>
  <% end %>

  <%= form_with(model: @trail, url: admin_trails_path, method: :post) do |form| %>
    <%= render "form", trail: @trail %>
    <%= render "form_points", form: form %>
  <% end %>
</body>