<nav class="menuBar">
  <div class='O_header'>

    <ul class="M_upper_menu_items">
      <%= link_to "фандомы", fandoms_url %>
      <%= link_to "сообщество", profiles_url %>
      <%= link_to "о нас", about_path %>
      <%= link_to "rutas", root_url %>
      <%#= link_to "уведомления", notifications_path %> <!-- заменить на нужный путь -->
      <%#= link_to "поиск", search_path %> <!-- заменить на нужный путь -->
      <%= link_to "профиль", profile_path(current_user.profile) if user_signed_in? && current_user.profile %>
    </ul>
  </div>
</nav>