<nav class="menuBar">
    <div class="A_leftBlock">
      <%= nav_link "фандомы", fandoms_url, class: active_menu_class_for('fandoms') %>
      <%
        is_own_profile = user_signed_in? && current_user.profile == @profile
        community_active = !is_own_profile && controller_name == 'profiles'
      %>
      <%= nav_link "сообщество", profiles_url, class: ("active" if community_active) %>
      <%= nav_link "о нас", about_path %>
      <%= nav_link "создать", new_admin_trail_url %>
    </div>

    <%= nav_link "rutas", root_url, class: ("active" if controller_name == "trails" && action_name == "show") %>

    <div class="A_rightBlock">
      <%= form_with url: search_path, method: :get, class: "A_searchInput" do |form| %>
        <%= form.text_field :q, placeholder: "Поиск", value: params[:q], data: { action: "input->search#suggest" } %>
      <% end %>
      
      <%= turbo_frame_tag "global_search_results" %>
      <% if user_signed_in? && current_user.profile.present? %>
        <%= nav_link "профиль", profile_path(current_user.profile), class: ("active" if is_own_profile) %>
      <% else %>
        <%= nav_link "профиль", profiles_path %>
      <% end %>
    </div>
</nav>

<div id="global-search-root"></div>
